body{
    background-color:rgb(252, 247, 247);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
div.logo{
    display: flex;
    margin-left: 110px;
    margin-top: 50px;
}
section ul{
    display: flex;
    gap: 4%;
    list-style: none;
    margin-left: 500px;
    position: relative;
    bottom: 35px;
    
}
nav button{
    display: flex;
    box-shadow: none;
    margin-left: 1600px;
    position: relative;
    bottom: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(117, 42, 150);
    font-weight: 50px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}
div h1{
    display: flex;
    position: relative;
    left: 100px;
    top: 200px;
    gap: 1%;
    font-style:  'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

div h1 span{
    color:rgb(117, 42, 150);
    font-style:  'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

div p{
    display: flex;
    position: relative;
    left: 100px;
    top: 200px;
    
}
nav img{
    display: flex;
    position: relative;
    left: 1000px;
    bottom: 100px;
    right: 10px;
}
div button{
    display: flex;
    color:white;
    background-color:rgb(117, 42, 150);
    font-weight: 50px;
    height: 60px;
    width: 160px;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    position: relative;
    left: 100px;
    top: 220px;
    
    
    
}



